@font-face {
    font-family: 'Circular';
    src: url('./lineto/lineto-circular-pro-book.eot');
    src: url('./lineto/lineto-circular-pro-book.eot?#iefix') format('embedded-opentype'),
         url('./lineto/lineto-circular-pro-book.woff') format('woff'),
         url('./lineto/lineto-circular-pro-book.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circular';
    src: url('./lineto/lineto-circular-pro-bold.eot');
    src: url('./lineto/lineto-circular-pro-bold.eot?#iefix') format('embedded-opentype'),
         url('./lineto/lineto-circular-pro-bold.woff') format('woff'),
         url('./lineto/lineto-circular-pro-bold.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
