$font-family: 'Circular', 'Helvetica', 'Arial', sans-serif;

$primary-color: #191414;
$white-color: #FFFFFF;
$spotify-color: #1DB954;

$spacing-xtiny: 4px;
$spacing-tiny: 8px;
$spacing-small: 16px;
$spacing-base: 24px;
$spacing-medium: 32px;
$spacing-large: 48px;
